/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

$body-bg: #ffffff;
$body-dark-bg: #121212;
$white: #fff;
$text-black: #2a2a2a;
$second-black: #333333;
$main-btn: #f67599;
$main-gary: #f0f0f5;
$second-gary: #afb1bd;
$text-gray: #808080;
$cart-border: #f0f0f5;
$input-border: #4a4a4a;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

$spacer: 1rem;
$spacers: (
  0:0,
  1: ($spacer * 0.25),
  2: ($spacer * 0.5),
  3: ($spacer * 0.75),
  4: $spacer,
  5: ($spacer * 1.25),
  6: ($spacer * 1.5),
  7: ($spacer * 1.75),
  8: ($spacer * 2)
);

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}


.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

// style start
body {
  background-color: $body-bg;
}

.header {
  width: 375px;
  height: 56px;

  .navbar {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $body-bg;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;

    .navbar-list {
      display: none;
    }

    .navbar-btn {
      grid-column: 1 / 2;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        background-image: url(./Vector.png);
      }

    }

    .logo {
      height: 56px;
      grid-column: 2 / 3;

      img {
        height: 24px;
        object-fit: contain;
      }
    }

    .navbar-icons {
      display: none;
    }
  }
}

.main {
  width: 100%;

  h3 {
    font-size: 1.5rem;
    line-height: 38px;
    margin-bottom: 1.5rem;
  }
  .container {
    position: relative;
  }
  .stepper-panel {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    position: absolute;
    .stepper-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    .step {
      text-align: center;

      &:nth-child(1) .circle-container::after {
        content: "1";
      }

      &:nth-child(2) .circle-container::after {
        content: "2";
      }

      &:nth-child(3) .circle-container::after {
        content: "3";
      }
      .connect-line {
        display: block;
        height: 3px;
        background-color: $main-gary;
        position: absolute;
        top: 50%;
        transform: scaleY(-50%);
        left: calc(25% + 70px );
        right: calc(-25% + 70px );
      }
    }
    .circle-container::after {
      color: $second-gary;
      vertical-align: sub;
    }

    .circle-container {
      height: 32px;
      width: 32px;
      border: 1px solid $second-gary;
      border-radius: 50%;
      margin: 0 auto;
    }


    .active .connect-line {
      background-color: $text-black;
    }

    .active .circle-container {
      background-color: $text-black;
    }
    .step.active .circle-container::after {
      content: "\2714";
      color: #fff;
    }
  }

  .first-form {
    width: 80%;
    margin: 0 auto;

    h4 {
      font-size: 1.5rem;
    }

    & .form-content {
      display: grid;
      grid-template-columns: 1fr;

      .first-row {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        .gender {
          flex: 0 1 40%;
        }

        .name {
          flex: 1 0 60%;
        }
      }

      .form-row {
        grid-column: 1 / 2;
      }

      .form-item {
        display: flex;
        flex-flow: column;

        label {
          font-size: 0.75rem;
          font-weight: 600;
          color: $text-gray;
        }

        input,
        select {
          height: 40px;
          width: 100%;
          border: 1px solid $input-border;
          border-radius: 4px;
          margin-bottom: 2rem;
        }

        select {
          padding-left: 1rem;
        }
      }
    }
  }

  .second-form {
    width: 100%;
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    h4 {
      font-size: 1.5rem;
    }

    & .form-content {
      display: grid;
      grid-template: auto / 1fr;
      margin-top: 1.5rem;
      .radio-wrapper {
        grid-column: 1 / 2;
        border: 1px solid $cart-border;
        height: 60px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        padding: 0 20px;

        .deliver {
          margin-left: 20px;
        }

        .radio-title {
          font-size: 14px;
        }

        .radio-date {
          font-size: 12px;
        }

        .radio-price {
          font-size: 12px;
          flex: 1 0 50%;
          text-align: end;
        }
      }
    }
  }

  .third-form {
    width: 80%;
    margin: 0 auto;
    grid-column: 1 / 7;
    h4 {
      font-size: 1.5rem;
    }

    & .form-content {
      display: grid;
      grid-template: auto / 1fr;
      margin-top: 1rem;

      & .form-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
      }

      & .last {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;

      }

      .form-item {
        display: flex;
        flex-direction: column;
        flex: 1 0;
      }

      label {
        font-size: 0.75rem;
        font-weight: 600;
        color: $text-gray
      }

      input {
        height: 40px;
        outline: none;
        border: 1px solid $text-black;
        border-radius: 4px;
      }
    }
  }

  .cart-panel {
    width: 80%;
    margin: 0 auto;
    border: 1px solid $main-gary;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;

    h4 {
      font-size: 1.12rem;
      display: none;
    }

    .cart-item {
      display: flex;
      margin-bottom: 1rem;
      justify-content: space-between;

      & .product-image {
        height: 100px;
        width: 100px;

        img {
          object-fit: cover;
        }
      }

      & .cart-item-control {
        height: 100px;
        width: 100%;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          font-size: 1rem;
          line-height: 1.5;
        }

        .cart-title {
          letter-spacing: .1rem;
          flex-grow: 1;
        }

        & .cart-btn {
          // text-align: end;
          flex-grow: 1;
          .reduce {
            margin-right: 1rem;
          }
          .add {
            margin-left: 1rem;
          }
        }

        .cart-btn button {
          width: 26px;
          height: 27px;
          background-color: $main-gary;
          border-radius: 50%;
        }

        .cart-price {
          flex-shrink: 1;
          text-align: end;
          line-height: 1.3;
          vertical-align: bottom;
          font-weight: 600;
        }

      }
    }

    .delivery-charge,
    .total {
      height: 52px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $main-gary;
      border-bottom: 1px solid $main-gary;

      & .point {
        font-weight: 600;
      }
    }
  }

  .btn-section {
    width: 100%;
    display: flex;

    button {
      flex: 1 0 50%;
      font-size: .8rem;
      padding: 11px 39px;
    }
    .next-step {
      background-color: $main-btn;
      border-radius: 8px;
      text-align: start;
      position: relative;
      img {
        position: absolute;
        right: 30%;
        top: 30%;
        transform: scaleY(-50%);
        width: 25px;
        height: 20px;
      }
    }

    .back-step {
      text-align: end;
      position: relative;
      img {
          position: absolute;
          left: 3px;
          top: 5px;
          width: 30px;
          height: 30px;
        }
    }
  }
}

@media screen and (min-width: 375px) {
  .header {
    width: 100%;
  }

  .main {
    min-width: 800px;
    margin-top: 3rem;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    .stepper-panel {
        width: 50%;
        .stepper-container::before {
          // left: 25%;
          // width: 10%;
          // top: 50%;
          
          left: calc(50% - 20px);
        }
    
        .stepper-container::after {
          position: absolute;
          display: block;
          left: calc(50% - 130px);
          top: 50%;
        }
        .stepper-container {
          justify-content: start;
        }
        .step {
          width: 100%;
          display: flex;
          gap: 8px;
          align-items: center;
          position: relative;
          .circle-container {
            margin: 0;
          }
          .label-container {
            display: block;
            font-size: 1rem;
            // position: absolute;
            // left: 20%;
          }
        }
      }
  }
  .row {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 4.5rem .5fr 50px;
    grid-auto-flow: column;
    grid-gap: 1rem 5%;
    min-height: 100vh;

    .form-panel {
      grid-column: 1 / 7;
      grid-row: 2 / 3;
      .form-container .first-form {
        margin-left: 0;
        width: 100%;
        .form-content {
          grid-template-columns: repeat(6, 1fr);
          grid-gap: 0 30px;
  
          .first-row {
            grid-column: 1 / 7;
          }
  
          .second-row {
            grid-column: 1 / 4;
          }
  
          .third-row {
            grid-column: 4 / 7;
          }
  
          .fourth-row {
            grid-column: 1 / 3;
          }
  
          .fifth-reow {
            grid-column: 3 / 7;
          }
      }


      }

    }
    .second-form {
      grid-column: 1 / 7;
      width: 85%;
      h4 {
        margin-bottom: 1.5rem;
      }
    }

    .third-form {
      margin: 0;
      grid-row: 2 /3;
      h4 {
        margin-bottom: 1.5rem;
      }

      & .form-content {
        & .form-row {
          width: 85%;
          margin-bottom: 1.5rem;
        }

        & .last {
          width: 125%;
        }
      }
    }

    .cart-panel {
      height: 492px;
      grid-column: 7 / 12;
      grid-row: 1 / 4;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      padding: 1.5rem 2rem;
      h4 {
        display: block;
        margin-bottom: 2rem;
      }
      .cart-list-wrapper{
        .cart-item {
          margin-bottom: 2rem;
        }
      }
      .delivery-charge,
      .total {
        height: 37px;
        border-bottom: 0px;
        padding-top: 1rem;
      }
      .delivery-charge {
        margin-bottom: 2rem;
      }
    }

    .btn-section {
      grid-column: 1 / 7;
      display: grid;
      grid-row: 3 / 4;
      grid-template-columns: repeat(2, 1fr);
      border-top: 1px solid #e6e6e6;
      padding-top: 1.5rem;
      .next {
        grid-column: 2 / 3;

      }
      .next-step {
        float: right;
        width: 174px;
        height: 45px;
        color: #fff;
        
      }
    }
  }
}